        <div class="" id="aqueduct">
            <h2 class="listing-section">Aqueduct Bash Fix</h2>
            <p>
            	Bash fix script from the Fedora Aqueduct Project <a href="http://www.govready.org/aqueduct.govready/{{ page.rule_id }}/ssg/aqueduct/bash/fix/"><span class="glyphicon glyphicon-link"></span></a>
            </p>

			<div class="well">
				<iframe width="800" height="380" src="//www.govready.org/aqueduct.govready/{{ page.rule_id }}/ssg/aqueduct/bash/fix/embed/" frameborder="0" allowfullscreen></iframe>
			</div>

		</div>
