        <div class="" id="fixes">
        	<h2 class="listing-section">Fixes</h2>
            
{% if page.aqueduct_bash_fix %}
            <p>
            	Bash fix script from the Fedora Aqueduct Project. 
                Execution requires additional scripts. 
            	<a href="http://www.govready.org/aqueduct.govready/{{ page.rule_id }}/ssg/aqueduct/bash/fix/">html</a> |  
            	<a href="http://www.govready.org/aqueduct.govready/{{ page.rule_id }}/ssg/aqueduct/bash/fix/raw/">raw</a> | 
            	<a href="http://www.govready.org/aqueduct.govready/{{ page.rule_id }}/ssg/aqueduct/bash/fix/embed/">embed</a>
            </p>

			<div class="well">
				<iframe width="800" height="380" src="//www.govready.org/aqueduct.govready/{{ page.rule_id }}/ssg/aqueduct/bash/fix/embed/" frameborder="0" allowfullscreen></iframe>
			</div>
{% else %}
			<p>No bash script available from Fedora Aqueduct Project.</p>
{% endif %}
		</div>
