


    <div class="container lg-font">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-12">

          <img src="http://ebmedia.eventbrite.com/s3-build/images/5175367/45897339037/1/logo.jpg" />
          <h2>March 12 Brownbag Lunch: Is Your Software GovReady?</h2>
          <p>Greg Elin and Rodney Cobb, Knight News Challenge 2013 winners, will present <i>GovReady</i>, an open source toolkit to prepare software and civic IT projects for security accreditation and approved government use.</p>
          <p>
            <a href="http://www.eventbrite.com/e/is-your-software-ready-for-government-use-tickets-10865285361">Register</a><br />
            Time: 12:30 - 2:00 pm<br />
            Where: OpenGov Hub, 1889 F St. NW, Second floor, Washington DC.
          </p>
          <!--p><a class="btn btn-default" href="#">Top &raquo;</a></p-->
        </div>
        <!--div class="col-lg-4">
          <h2>IT Administrators</h2>
          <p>Need an easier way to assess assess and certify software? GitMachines is a grab-n-go depot of virtual machines pre-installed with GovReady-versions of citizen-created and open source software. </p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Intrapreneurs</h2>
          <p>Don't take "No" for an answer. Download or help build a secure, accreditation-ready version of your favorite open source software today. </p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div-->
      </div>