{% include header.html %}

<div class="" style="background-color: #fff;padding:40px 0 48px 0;min-height: 740px;">
  <div class="container lg-font col-lg-12">

    <h2>FISMA Controls CCE List and Fixes for RHEL6/CentOS6/Fedora Linux</h2>
    <h3>About</h3>

    <p>FISMA is the mandated risk management framework to protect information on Federal Government IT systems.</p>

	<p>FISMA recommended controls for non-DoD IT systems is described in NIST Special Publication 800-53. Within government, people refer to these controls as "the 800-53's". Mapping the FISMA controls to a piece of software is called Common Configuration Enumeration and produces a list of uniquely-identified "CCE's". </p>

	<p><b>This page lists 800-53 CCE's for RHEL6/CentOS6/Fedora Linux with cross-references to existing community-maintained fixes.</b></p>


    <h3>CCE List</h3>

      <div>
        {{ content }}
      </div>


  </div>

</div>

{% include footer.html %}
