{% include header.html %}

<div class="" style="background-color: #fff;padding:40px 0 48px 0;min-height: 740px;">
  <div class="container lg-font col-lg-12">

    <h2>FISMA Controls CCE List and Fixes for Linux RHEL6/CentOS/Fedora</h2>
    <h3>About</h3>
    <p>
    	390 FISMA-related configuration rules to secure RHEL6/CentOS/Fedora Linux systems described by NIST Special Publication 800-53 with cross-references to know remediation scripts. CCE stands for Common Configuration Enumaration.
    </p>

    <h3>CCE List</h3>

      <div>
        {{ content }}
      </div>


  </div>

</div>

{% include footer.html %}
