{% include header.html %}

<div class="" style="background-color: #fff;padding:40px 0 48px 0;min-height: 740px;">
  <div class="container lg-font col-lg-12">

    <h2>Control ID: {{ page.name }} <br/>{{ page.title }}</h2>

      <div>
        {{ content }}


        <h3 style="border-bottom:1px solid #ddd;margin:30px 0 8px 0;">Identifiers</h3>
        <ul>
        	<li>ident: {{ page.ident }}</li>
        	<li>severity: {{ page.severity }}</li>
        	<li>title: {{ page.title }}</li>
        	<li>rule_id: {{ page.rule_id }} </li>
        	<li><a href="file:///codedata/virtualmachines/aqueduct/compliance/bash/ssg/dev/{{ page.rule_id}}.sh">/codedata/virtualmachines/aqueduct/compliance/bash/ssg/dev/{{ page.rule_id}}.sh</a>

        </ul>



        {% include disqus.html %}

      </div>

  </div>
</div>



{% include footer.html %}
