{% include header.html %}


<div class="listing-page">

  
  <!-- listing container -->
  <div class="container lg-font col-sm-12">



    <!-- listing sidebar -->
    {% include listing_sb.html %}

    <!-- main listing content -->



        <h1 class="listing-title">
          <span class="">{{ page.name }} in Government</span>
        </h1>

<div class="container lg-font col-sm-9 pull-left"  style="border:0px solid gray;">

          <ul class="nav nav-tabs">
  <li class="active"><a href="#">About</a></li>
  <li><a href="#">Procuring</a></li>
  <li><a href="#">508 Accessibility</a></li>
  <li><a href="#">Configuring</a></li>
  <li><a href="#">Security</a></li>
  <li><a href="#">FISMA Compliance</a></li>
  <li><a href="#">More...</a></li>
  
</ul>


        <p>{{ page.benefit }}</p>

        <h3 class="listing-section">US Gov Instances</h3>
        {% include usg_instances.html %}


        <h3 class="listing-section">Videos</h3>
        <div class="clearfix">
          {% for video in page.videos %}
            <span class="pull-left listing-video" >{{ video }}</span>
          {% endfor %}
        </div>


        <h3 class="listing-section">Recent US Cert Alerts</h3>
        <p>{{ page.us_cert_recent }}</p>

        <h3 style="border-bottom:1px solid #ddd;margin:50px 0 0 0;">Accessibility - Section 508</h3>
        Accessibility web page: <a href="{{ page.accessibility_url }}">{{ page.accessibility_url }}</a>

    </div>

  </div>


{% include footer.html %}
