{% include header.html %}

<div class="listing-page">

  <!-- listing container -->
  <div class="container lg-font col-sm-12" id="listing">

        <!-- main listing content -->
        <div class="container lg-font col-sm-9 pull-left"  style="border:0px solid gray;">

          <h1 class="listing-title">
            <span class="">GovReady Assessment of {{ page.product.name }} </span> 
          </h1>
         
          
          {% include epitch5.html %}
          
          
          {% include deployments5.html %}
        

          {% include videos5.html %}
          

          {% include fisma-certified5.html %}

          
          {% include security5.html %}


          {% include accessibility5.html %}

          
          {% include misc5.html %}
          
       </div> <!-- /main listing content -->
    
    <!-- listing sidebar -->
    {% include listing_sb5.html %}


  </div><!-- /listing container -->

  <script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
  </script>  


{% include footer.html %}
