{% include header.html %}

<div class="listing-page">

  <div id="listing" class="container lg-font col-sm-12"><!-- listing container -->
        
        <div class="container lg-font col-sm-9 pull-left"><!-- main listing content -->

          <h1 class="listing-title">Currently Available GovReady Assessments</h1>

          {% for item in site.data.listings %}
            <h3><a href="{{ item.permalink }}" style="">{{ item.name }}</a></h3>
          {% endfor %}
          
       </div><!-- /main listing content -->

  </div><!-- /listing container -->

  <script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
  </script>  

{% include footer.html %}