{% include header.html %}


<div class="listing-page">

  
  <!-- listing container -->
  <div class="container lg-font col-sm-12">



    
    <!-- main listing content -->
    <div class="container lg-font col-sm-9 pull-left"  style="border:0px solid gray;">

    	<h1 class="listing-title">
      		<span class="">GovReady Assessment of {{ page.name }} </span> 
    	</h1>

    	<p>For organizations who want to utilize the web for sharing documents, data, and delivery interactive services, <b>Apache is a HTTP web server that is open source, mature, Java-based, highly-configurable and the world's most popular web server.</b> Unlike propietary web servers, Apache Apache and it's configuration files are well known to most system administrators and ships with most Linux distributions.</p>

    	<p>For {{ page.for }} who {{ page.who }}, <b>{{ page.name }} is {{ page.product_is }} that {{ page.that }}</b>.
                 Unlike {{ page.unlike }}, {{ page.name }} {{ page.product_features }}.</p>
	
      {% for node in page.govready %}

      	{% if node.name == "Elevator Pitch" %}
      		<p>
      		   For {{ page.for }} who {{ page.who }}, <b>{{ page.name }} is {{ page.product_is }} that {{ page.that }}</b>.
               Unlike {{ page.unlike }}, {{ page.name }} {{ page.product_features }}.
            </p>
      	{% endif %}


      	{% if node.name == "GovReady Metadata" %}
      		<div class="metadata">
			<ul>
				<li>version: {{ node.version }} </li>
				<li>date: {{ node.date }} </li>
				<li>packager_name: {{ node.packager_name }} </li>
			</ul>
		</div>

      	{% endif %}

      {% endfor %}

		




	</div>
	<!-- /main listing content -->

  </div>
  <!-- /listing container -->

</div>
<!-- listing-page -->

{% include footer.html %}
