{% include header.html %}


<div class="listing-page">

  
  <!-- listing container -->
  <div class="container lg-font col-sm-12">



    
    <!-- main listing content -->

        <div class="container lg-font col-sm-9 pull-left"  style="border:0px solid gray;">

        <h1 class="listing-title">
          <span class="">GovReady {{ page.name }} </span> 
        </h1>


        
         
              <div class="" id="about">
                  <p>{{ page.benefit }}</p>

              </div>

              <div>
                  <h2 class="listing-section">Gallery of Government Deployments</h2>
                  <div>&nbsp;</div>
                  {% include instances_carousel.html %}
              </div>

              <div>
                  <h2 class="listing-section">Videos</h2>
                  <div class="clearfix">
                    {% for video in page.videos %}
                      <span class="pull-left listing-video" >{{ video }}</span>
                    {% endfor %}
                  </div>
              </div>

              <div>
                  <h2 class="listing-section">FISMA-Certified Configurations</h2>
                  <p>FISMA-Certified Configurations of {{ page.name }} are achieved via appropriate 800-53 controls on 
                    {% for item in page.FISMA_components %}
                      {% if forloop.last %}
                        and <span class="" ><a href="/{{ item.name }}/">{{ item.name }}</a></span>.
                      {% else %}
                        <span class="" ><a href="/{{ item.name }}/">{{ item.name }}</a></span>, 
                      {% endif %}
                    {% endfor %}
                  </p>

                  {% for item in page.FISMA_notes %}
                      <p class="text-warning" >NOTE: As of {{ item.date }}, {{ item.description }}</p>
                  {% endfor %}

                  {{ page.FISMA-Certified }}

              </div>

              <div class="" id="procurement">
                <h2 class="listing-section">Security (Monitoring &amp; Patching)</h2>
              </div>

              <div class="" id="security">
                  <h2 class="listing-section">Available Support</h2> 
              </div>

              <div class="" id="accessibility">
                  <h2 class="listing-section">508 Accessibility</h2>
                  <p>orange orange orange orange orange</p> 
              </div>


    </div> 
    <!-- /main listing content -->
    <!-- listing sidebar -->
    {% include listing_sb2.html %}

    

  </div>

  <script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
  </script>  


{% include footer.html %}
