{% include header.html %}


<div class="" style="background-color: #fff;padding:40px 0 48px 0;min-height: 740px;">



  <!-- listing section -->
  <div class="container lg-font col-sm-12">


<!-- sidebar -->
<div class="container lg-font col-sm-3" style="margin-top:0px;border:0px solid gray;">

  <h1 style="border-bottom:0px solid #ddd;">
  <a href="{{ page.website }}"><img src="{{ page.logo1 }}" width="160"/></a>
  <img src="{{ page.logo2 }}" width="60"/>
  <div style="margin-bottom:12px;"></div>
</h1>

  <div>Managed by: <a href="{{ page.managed_by_url }}">{{ page.managed_by }}</a></div>
  <div><a href="{{ page.license_url }}">License</a></div>
  <div><a href="{{ page.about_url }}">About</a></div>
  <div><a href="{{ page.issue_tracker_url }}">Issue Tracker</a></div>
  <div>Stable release: <a href="{{ page.stable_release }}">{{ page.stable_release }}</a></div>
  <div>Security advisories</div>
  <div>Commercial support: {% if page.commercial_support_url != '' %}<a href="{{ page.commercial_support_url }}">Yes</a>{% else %}Not yet{% endif %}</div>
  <div><a href="{{ page.source_code_url }}">Source Code</a></div>
</div>


    <!-- main listing content -->
    <div class="container lg-font col-sm-9 pull-left"  style="border:0px solid gray;">

        <h1 style="border-bottom:0px solid #ddd;">
        <span class="">{{ page.name}}</span>
        <div style="margin-bottom:12px;"></div>
      </h1>

        <blockquote>
          <p>
              {{ page.desc1 }}
          </p>
          <p>
              {{ page.desc2 }}
          </p>
          <p>
            <small>via <a href="{{ page.desc_source_url }}">{{ page.desc_source_url }}</a></small>
          </p>
        </blockquote>

        <h3 style="border-bottom:1px solid #ddd;margin:60px 0 0 0;">US Gov Instances</h3>

          {% for instance in page.usg_instances %}
            <div>{{ instance }}</div>
          {% endfor %}

        
        <h3 style="border-bottom:1px solid #ddd;margin:50px 0 0 0;">Recent US Cert Alerts</h3>
        <p>
          {{ page.us_cert_recent }}
        </p>


        <h3 style="border-bottom:1px solid #ddd;margin:50px 0 0 0;">Accessibility - Section 508</h3>
        Accessibility web page: <a href="{{ page.accessibility_url }}">{{ page.accessibility_url }}</a>


        <!--Disqus -->
        <h3 style="border-bottom:1px solid #ddd;margin:50px 0 0 0;">Community Comments</h3>
        <div id="disqus_thread"></div>
          <script type="text/javascript">
              /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
              var disqus_shortname = 'govready'; // required: replace example with your forum shortname

              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>



    </div>





  </div>




{% include footer.html %}
